<!doctypehtml>
<html>
<head>
  <link href="newweb.css" rel="stylesheet" type="text/css"><link href="newweb.css" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body data-spy="scroll" data-target="#title" data-offset="0">
  <nav class="navbar navbar-dark navbar-fixed-top"  style="background-color:black;" id="title">
  <ul list-style-type="none" >
  <li class="list"><a id="first" href="#" style="color:white;">WOMEN IN TECH COMMUNITY</a></li>
  <li id="second" class="list">
    <select>
  <option class="dropdown-item">INDIA</option>
  <option class="dropdown-item" selected>BRAZIL</option>
  </select>
  </li>
  <li class="list"><a href="/about" style="color:white;">ABOUT</a></li>
  <li class="list"><a href="#community" style="color:white;">COMMUNITY</a></li>
  <li class="list"><a href="#event" style="color:white;">EVENTS</a></li>
  <li class="list"><a href="/register" style="color:white;">REGISTER</a></li>
  <li class="list"><a href="#contactus" style="color:white;">CONTACT-US</a></li>
  <li class="list"><input type="search" placeholder="search"></li>
  </ul>
  </nav>
  <div class="container ">
  <h2>Thanks for registering!</h2>
  <h3 class="text-muted">YOU HAVE REGISTERED FOR <%=data.com%> COMMUNITY</h3>
  <h2 class="text-muted">We will respond back to you shortly at <%=data.email%></h2>
</div>
<footer class="row">
 <div class="col-mid-4  contactus" style="position: relative; left: 200px">
   <h1 id="contactus">CONTACT-US</h1>
  <a href="mailto:shikha4198@gmail.com">Mailus</a><br>
  <a href="telno:997788844">contact us</a>
  <p>DELHI CORPORATE OFFICE</p>
</div>

</footer>
  </body>
  </html>
