<!doctype html>
<html>
<head>
<title>GOT</title>
<link href="newweb.css" rel="stylesheet" type="text/css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body data-spy="scroll" data-target="#title" data-offset="0">
<nav class="navbar navbar-dark navbar-fixed-top"  style="background-color:black;" id="title">
<ul list-style-type="none" >
<li class="list"><a id="first" href="#" style="color:white;">WOMEN IN TECH COMMUNITY</a></li>
<li id="second" class="list">
  <select>
<option class="dropdown-item">INDIA</option>
<option class="dropdown-item" selected>BRAZIL</option>
</select>
</li>
<li class="list"><a href="/about" style="color:white;">ABOUT</a></li>
<li class="list"><a href="#community" style="color:white;">COMMUNITY</a></li>
<li class="list"><a href="#event" style="color:white;">EVENTS</a></li>
<li class="list"><a href="/register" style="color:white;">REGISTER</a></li>
<li class="list"><a href="#contactus" style="color:white;">CONTACT-US</a></li>
<li class="list"><input type="search" placeholder="search"></li>
</ul>
</nav>
<div class="container">
<div  class="row">
  <div class="col-mid-6">
  <h1 id="about" style="text-decoration: underline;">ABOUT</h1>
    <h4 class="text-muted">Women In Technology</h4>
    <p>When one woman helps another, amazing things can happen. Professional careers leap forward. That's what Women in Technology is all about. As the premier professional association for women in the technology industry, we understand the unique challenges you face. No matter where you are in your professional development, or what technology-related field you're in, our community offers a broad range of support, programs and resources to advance women in technology from the classroom to the boardroom.</p>
  <div class="middlesection">
    <h1 id="community" style="text-decoration: underline;">COMMUNITY</h1>
    <h4 class="text-muted">Here is a list of communities women can register for</h4>
      <details>
        <summary>Systers by Anita Borg Institute</summary>
        <p>Join the online community founded by Anita Borg herself.

Systers provides a private, safe online forum for women involved in technical aspects of computing. Our members gain support by networking, sharing advice and experiences, and collaborating on various projects. We welcome women of all ages and at any stage of their studies or careers.</p>
  </details>
      <details>
        <summary>Women Who Code</summary>
        <p>We envision a world where women are proportionally represented as technical leaders, executives, founders, VCs, board members, and software engineers.</p>
        <p>When you become a part of Women Who Code you gain access to programs and services that are designed to help you step up your tech career. We have over 100,000 members who are career-aged tech professionals operating at each level of the industry.</p>
        <img src="https://www.womenwhocode.com/assets/about/breakdown-65754b2b2d5926b0384993f7cce91ff94ae34cb9ae1889fd9ed4343e8808206f.svg">
      </details>
      <details>
        <summary>She++</summary>
        <p>she++, a 501(c)3 nonprofit organization, works to empower underrepresented groups in technology by dismantling negative stereotypes surrounding technical careers.  We aim to dispel the misconception that computer science is not a career for women and minorities by rebranding what it means to be a technologist.</p>
      </details>
      <details>
        <summary>LinuxChix meet-ups</summary>
        <p>We're a community for women who like Linux and this group is for anyone who wants to support women in computing. We aim to promote FOSS primarily Linux and related projects among women and other minorities in tech. We are a group of enthusiastic people ranging from students to professional experts willing to teach and foster the growth of Linux.</p>
      </details>
    </div>
    </div>
    <div class="col-mid-6">
      <aside>
        <h1 id="event" style="text-decoration: underline;"> EVENTS</h1>
        <div class="row">
          <div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/XebNxUE3ugA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      <div><h4 class="text-muted">Women IN Technology</h4></div>
    </div>
    <div>
      <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUBHBdMd68EFLe0gjXuhMkphImVsr-CkoYXkgPlEMHgAVuSD9uLpF8V8ETMc0CkFPugP9UoGo" class="img-thumbnail">
        <a href="http://kval.com/news/local/events-for-women-by-women-local-non-profit-aims-to-break-down-barriers-in-tech-industry"><h4>Events for women</h4></a></p>
          </div>
    <div>
      <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ603Hq89-LD1sKbdfbzFSXCrPDBFxzUihuI8OHYEm7wmQSC4QSO7doqgmQ3uSBx4yeczUVUUf" class="img-thumbnail"><a href="https://diginomica.com/2018/07/10/women-in-tech-its-not-about-being-wonder-woman/"><h4 class="text-muted">Women in tech-its not about being wonder woman!</h4></a></p>
    </div>
      </aside>
    </div>
  </div>
<hr width=100%>
    <footer class="row">
     <div class="col-mid-4  contactus">
       <h1 id="contactus">CONTACT-US</h1>
      <a href="mailto:shikha4198@gmail.com">Mailus</a><br>
      <a href="telno:997788844">contact us</a>
      <p>DELHI CORPORATE OFFICE</p>
    </div>
    <div class="col-mid-4 follow">
      <h1>Follow us</h1>
     <a href="#"><img src="https://www.americaninno.com/wp-content/themes/AmericanInno/images/socialicons/facebook.png" width="50px;" height="50px;" ></a>
     <a href="#"><img src="https://www.americaninno.com/wp-content/themes/AmericanInno/images/socialicons/twitter.png" width="50px;" height="50px;"></a>
     <a href="#"><img src="https://www.americaninno.com/wp-content/themes/AmericanInno/images/socialicons/linkedin.png" width="50px;" height="50px;"></a>
     <a href="#"><img src="https://www.americaninno.com/wp-content/themes/AmericanInno/images/socialicons/instagram.png" width="50px;" height="50px;"></a>
    </div>
  <div class="col-mid-4 register" >
    <form action="/register" method="post">
      <label><h1>REGISTER</h1></label><br>
      <label><h3>You Can Register For The Desired community</h3></label><br>
      <label for="uname">Name:</label><br>
      <div class="form-row">
        <div class="col">
      <input name="uname" type="text" placeholder="firstname">
    </div>
    <div class="col">
  <input name="uname1" type="text" placeholder="lastname" id="l">
</div>
</div>
    <label for="email">Email-Id:</label><br>
      <input name="email" type="email" placeholder="email"><br>
      <label for="phone">Phone:</label><br>
      <input name="phone" type="tel" placeholder="phone no"><br>
      <label>Select Community:</label><br>
      <select name="com">
        <option>Systers by Anita Borg Institute</option>
        <option>Women Who Code</option>
        <option>She++</option>
        <option>LinuxChix meet-ups</option>
        <option selected>none</option>
      </select>
      <input  class="btn btn-primary" type="submit"value="submit"><br>
    </form>
    </div>
    </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
</body>
</html>
